<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppManagenmentStudent_Quan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36077B861EBF8887006184E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36077B9A1EBF8889006184E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36077BA51EBF8889006184E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
